<?xml version='1.0' encoding='utf-8'?>
    <plugin id="cordova-plugin-audio-library" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
        <name>AudioLibrary</name>
        <js-module name="AudioLibrary" src="www/AudioLibrary.js">
            <clobbers target="cordova.plugins.AudioLibrary" />
        </js-module>
        <platform name="android">
            <config-file parent="/*" target="res/xml/config.xml">
                <feature name="AudioLibrary">
                    <param name="android-package" value="com.we60devs.plugins.AudioLibrary" />
                </feature>
            </config-file>
            <config-file parent="/*" target="AndroidManifest.xml" />
            <source-file src="src/android/AudioLibrary.java" target-dir="src/com/we60devs/plugins" />
        </platform>
        <platform name="ios">
            <config-file parent="/*" target="config.xml">
                <feature name="AudioLibrary">
                    <param name="ios-package" value="AudioLibrary" />
                </feature>
            </config-file>
            <source-file src="src/ios/AudioLibrary.m" />
        </platform>
    </plugin>
